@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src:  url('https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');
}
.bg{
  background-image: url('https://i.ibb.co/phh2s0p/home-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:125vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.homeTitle{
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color :white;
  text-transform: uppercase;
  gap: 1rem;
}

.myFonts{
  margin: auto;
  padding: auto;
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 30px;
}
.homeTitle p{
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 5px;

}
body {
  font:'Gilroy', sans-serif;
}


.line{
  width: 40%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}






@media screen and (max-width:400px) {
  .myFonts{
    letter-spacing: 20px;
  }
  .line{
    width: 80%;
    height: 1px;
    background-color: rgb(255, 255, 255);
  }
  .homeTitle p{
    font-size: 1rem;
    letter-spacing: 1px;
  
  }
}

.footer-bg{
  background-image: url('https://i.ibb.co/wyMhzFD/footer-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}







